<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/img/cadastro/registerImage.png" class="my-4" alt="Imagem de cadastro" width="450px">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="row mb-lg-3">
        <div class="form-group col-sm-6">
          <label class="mb-lg-2">Primeiro Nome</label>
          <input type="text" class="form-control" placeholder="Insira o Primeiro nome" />
        </div>
        <div class="form-group col-sm-6">
          <label class="mb-lg-2">Último nome</label>
          <input type="text" class="form-control" placeholder="Insira o Último nome" />
        </div>
      </div>
      <div class="form-group mb-lg-3">
        <label for="" class="mb-lg-2">Email:</label>
        <input class="form-control" type="text" placeholder="Insira o seu e-mail" />
      </div>
      <div class="form-group  mb-lg-3">
        <label for="" class="mb-lg-2">Usuario:</label>
        <input class="form-control" type="text" placeholder="Insira o nome de Usuário" />
      </div>
      <div class="row  mb-lg-3">
        <div class="form-group col-sm-6">
          <label for="" class="mb-lg-2">Senha:</label>
          <input class="form-control" type="password" placeholder="Digite uma Senha" />
        </div>
        <div class="form-group col-sm-6">
          <label for="" class="mb-lg-2">Confirmar Senha:</label>
          <input class="form-control" type="password" placeholder="Confirme a Senha" />
        </div>
      </div>
      <div class="row mb-lg-3" >
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1 ">
          <label class="custom-control-label me-3">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="row">
        <div class="d-flex col-12">
          <button class="btn btn-lg btn-success btn-block flex-fill mb-lg-3">
            Registar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="d-flex col-12">
          <a class="btn btn-link btn-block flex-fill text-capitalize" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
