<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img src="../../../../assets/img/cadastro/registerImage.png" class="my-4" alt="Imagem de cadastro" width="450px">
    </div>
  </div>

  <div class="col-md-6">

    <form [formGroup]="form" class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label class="label">Primeiro Nome</label>
          <input type="text" class="form-control" formControlName="primeiroNome"
            [ngClass]="cssValidator(f.primeiroNome)" placeholder="Insira o Primeiro nome" />
          <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">
            Campo obrigatório!
          </div>
          <div *ngIf="f.primeiroNome.errors?.minlength" class="invalid-feedback">
            O Primeiro nome deve conter no mínimo 3 caracteres.
          </div>
          <div *ngIf="f.primeiroNome.errors?.maxlength" class="invalid-feedback">
            O Primeiro nome deve conter no máximo 20 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="label">Último nome</label>
          <input type="text" class="form-control" formControlName="ultimoNome" [ngClass]="cssValidator(f.ultimoNome)"
            placeholder="Insira o Último nome" />
          <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">
            Campo obrigatório!
          </div>
          <div *ngIf="f.ultimoNome.errors?.minlength" class="invalid-feedback">
            O Segundo nome deve conter no mínimo 3 caracteres.
          </div>
          <div *ngIf="f.ultimoNome.errors?.maxlength" class="invalid-feedback">
            O Segundo nome deve conter no máximo 20 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="label">Email:</label>
        <input type="text" class="form-control" formControlName="email" [ngClass]="cssValidator(f.email)"
          placeholder="Insira o seu e-mail" />
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
          Campo obrigatório!
        </div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
          E-mail Inválido! Insira um E-mail Válido!
        </div>
      </div>
      <div class="form-group">
        <label for="" class="label">Usuario:</label>
        <input type="text" class="form-control" formControlName="usuario" [ngClass]="cssValidator(f.usuario)"
          placeholder="Insira o nome de Usuário" />
        <div *ngIf="f.usuario.errors?.required" class="invalid-feedback">
          Campo obrigatório!
        </div>
        <div *ngIf="f.usuario.errors?.minlength" class="invalid-feedback">
          O nome de Usuário deve conter no mínimo 3 caracteres.
        </div>
        <div *ngIf="f.usuario.errors?.maxlength" class="invalid-feedback">
          O nome de Usuário deve conter no máximo 30 caracteres.
        </div>
      </div>
      <div class="row  mb-lg-3">
        <div class="form-group col-sm-6">
          <label for="" class=" label">Senha:</label>
          <input type="password" class="form-control" formControlName="senha" [ngClass]="cssValidator(f.senha)"
            placeholder="Digite uma Senha" />
          <div *ngIf="f.senha.errors?.required" class="invalid-feedback">
            Campo obrigatório!
          </div>
          <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">
            A senha deve conter no mínimo 6 caracteres.
          </div>
          <div *ngIf="f.senha.errors?.maxlength" class="invalid-feedback">
            A senha deve conter deve conter no máximo 30 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="" class="label">Confirmar Senha:</label>
          <input type="password" class="form-control" formControlName="confirmarSenha"
            [ngClass]="cssValidator(f.confirmarSenha)" placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmarSenha.errors?.required" class="invalid-feedback">
            Campo obrigatório!
          </div>
          <div *ngIf="f.confirmarSenha.errors?.mustMatch" class="invalid-feedback">
            Senha não confere! Tente Novamente!
          </div>
        </div>
      </div>
      <div class="row mb-lg-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1 ">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="row">
        <div class="d-flex col-12">
          <button class="btn btn-lg btn-success btn-block flex-fill mb-lg-3" [disabled]="!form.valid">
            Registar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="d-flex col-12">
          <a class="btn btn-link btn-block flex-fill text-capitalize" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

  </div>
</div>
