<app-titulo [titulo]="'Perfil ' + (ehPalestrante ? 'Palestrante' : 'Participante')"></app-titulo>

<div class="card rouded shadow-sm bg-transparent">
  <div class="row p-3">

    <div class="col-lg-3 pt-1">
      <div class="card mb-3">
        <div class="card-header">
          <input type="file" #file (change)="onFileChange($event)" style="display: none;">
        </div>
        <div class="d-flex align-self-center pt-5">
          <img
          [src]="imagemURL"
          class="rounded-circle"
          (click)="file.click()"
          name="aboutme" width="120" height="120"
          style="cursor: pointer;">
        </div>
        <div class="card-body">
          <div class="h4 text-center my-3">@{{usuario.userName}}</div>
          <div class="h7 text-bold pb-1"><b>Nome: </b>{{usuario.primeiroNome + ' ' + usuario.ultimoNome}}</div>
          <div class="h7">
            {{usuario.descricao}}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-center border-end">
                <div class="h5">0</div>
                <div class="h6 text-muted">Meus Eventos Criados</div>
              </div>
              <div class="col-6 text-center border-start">
                <div class="h5">0</div>
                <div class="h6 text-muted">Eventos como {{ehPalestrante ? 'Palestrante' : 'Participante'}}</div>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-footer"></div>
      </div>
    </div>

    <div class="col-lg-9">
      <div>
        <tabset>
          <tab class="border border-top-0 p-3">
            <ng-template tabHeading>
              <i class="fa fa-address-card me-2"></i> <b><span>Perfil</span></b>
            </ng-template>

            <app-perfil-detalhe (changeFormValue)="setFormValue($event)"></app-perfil-detalhe>
          </tab>
          <tab *ngIf="ehPalestrante" class="border border-top-0 p-3">
            <ng-template tabHeading>
              <i class="fa fa-user me-2"></i> <b><span>Palestrante</span></b>
            </ng-template>
            <div class="form-group">
              <h3 class="border-bottom">Palestrante</h3>
            </div>

            <app-palestrante-detalhe></app-palestrante-detalhe>
          </tab>
          <tab *ngIf="ehPalestrante" class="border border-top-0 p-3">
            <ng-template tabHeading>
              <i class="fa fa-share-square me-2"></i> <b><span>Rede Social</span></b>
            </ng-template>
            <div class="form-group">
              <h3 class="border-bottom">Rede Social</h3>
            </div>

            <app-resdesSociais></app-resdesSociais>
          </tab>
        </tabset>
      </div>

    </div>
  </div>

</div>
