<div class="d-flex align-items-center vh-100">

  <div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">

    <form class="form-signin">
      <i class="fa fa-users mb-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
      <label for="username" class="sr-only mb-2">Usuário</label>
      <div class="row d-flex">
        <input type="email" id="username" class="form-control flex-fill mb-3" placeholder="Usuário" name="username"
          required>
      </div>
      <label for="password" class="sr-only">Password</label>
      <div class="row d-flex">
        <input type="password" id="password" class="form-control flex-fill mb-3" placeholder="Senha" name="password"
          required>
      </div>
      <div class="row d-flex">
        <button class="btn btn-lg btn-primary btn-block flex-fill" type="submit">Entrar</button>
      </div>

      <p class="mt-4 mb-2 text-muted">Não tem login? Cadastre-se abaixo</p>
      <a class="btn btn-lg btn-link btn-block text-capitalize" routerLink="/user/registro">Quero me cadastrar</a>
    </form>

  </div>

</div>
