<h2>Eventos</h2>
<hr>

<div class="row row-cols-lg-auto g-3 align-items-center mb-4">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <label class="me-2 mt-auto"><h5>Filtro:</h5> </label>
      <input type="text" class="form-control" placeholder="buscar" [(ngModel)]="filtroLista" />
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm border-2"
        (click)="alterarImagem()">
        <i class="{{!showimg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!showimg ? "Exibir" : "Ocultar"}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!showimg" [isAnimated]="true" src="../../assets/img/evento/{{evento.imagemURL}}"
          alt="Imagens do Evento" [style.width.px]="widthImg" [style.height.px]="heightimg"
          [style.margin.px]="marginImg" />
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe }}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome | uppercase }}</td>
      <td>
          <button type="button" data-toggle="tooltip" title="Editar" class="btn btn-primary btn-sm me-2" >
            <i class="fa fa-edit"></i>
          </button>
          <button type="button"  data-toggle="tooltip" title="Excluir"  class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i>
          </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h3>Nenhum Evento Encontrado!</h3>
      </td>
    </tr>
  </tfoot>
</table>

<!-- {{eventos | json}} -->
