/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootswatch/dist/lumen/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
}

#container-imagem {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* adicionando imagem de fundo */
  background: url('../src/assets/img/evento/Bg-3.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
