.card-footer {
  margin: 15px -16px -16px;
}

.capitalize {
text-transform: capitalize;
border-bottom: 1px solid silver;
}

i {
  margin-right: 5px;
  margin-left: 0px;
}

.btn-outline-secondary{
  box-sizing: 2;
  margin-left: 0;
 }

 .btn-success{
   margin-left: auto;
 }

 .form-control{
   margin-top: 1vw;
   margin-bottom: 2vw;
 }

